// - - - - - - - - - - - - - - - - - - -
// - - utilities
// global extends, mixins, functions, and utility classes

// - - - - - - - - - - - - - - - - - - -
// - - extends

// - - - - - - - - - - - - - - - - - - -
// - - mixins

// - - - - - - - - - - - - - - - - - - -
// - - functions

// - - - - - - - - - - - - - - - - - - -
// - - utilities
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.row-clear {
	margin-left: 0;
	margin-right: 0;
}
